Spam Message Classification

1) Data Preprocessing

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('spam.tsv', sep = '\t')

In [6]:
df['label'].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64

In [11]:
ham = df[df['label'] == 'ham']
spam = df[df['label'] == 'spam']

In [17]:
ham = ham.sample(spam.shape[0])
data = pd.concat([ham, spam])
data.shape

(1494, 4)

In [19]:
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split

Building the Model (Random Forest)

In [5]:
df.describe()

            length        punct
count  5572.000000  5572.000000
mean     80.489950     4.177495
std      59.942907     4.623919
min       2.000000     0.000000
25%      36.000000     2.000000
50%      62.000000     3.000000
75%     122.000000     6.000000
max     910.000000   133.000000